In [1]:
import pandas as pd
import numpy as np
from Data import ExperimentData, InteractionData, AntData, ForagerData

In [2]:
exp1 = ExperimentData(23, bdata_path='blob analysis normalized by white paper')

In [3]:
exp1.interactions_df.head()

,vidnum,id,actual_ant1,actual_ant2,actual_start,actual_end,group,general_start_frame,general_end_frame,general_group_id
1,1.0,31.0,521,408.0,142.0,147.0,1.0,101.0,106.0,1.0
2,1.0,NaN,421,408.0,145.0,147.0,1.0,104.0,106.0,1.0
3,1.0,NaN,421,521.0,145.0,153.0,1.0,104.0,112.0,1.0
4,1.0,NaN,197,421.0,146.0,147.0,1.0,105.0,106.0,1.0
5,1.0,NaN,197,521.0,146.0,147.0,1.0,105.0,106.0,1.0

In [4]:
exp1.ants_list

[1069,
 113,
 12,
 13,
 137,
 156,
 16,
 160,
 161,
 164,
 169,
 170,
 197,
 207,
 208,
 21,
 236,
 248,
 302,
 325,
 329,
 365,
 408,
 415,
 416,
 418,
 42,
 421,
 45,
 48,
 484,
 512,
 524,
 525,
 529,
 61,
 98,
 32,
 40,
 521,
 56,
 1,
 1125,
 265]

In [5]:
len(exp1.ants_list)

44

In [6]:
def is_invalid_ant_id(ant_id, ants_list):
    return ant_id not in ants_list

In [7]:
def find_invalid_ant_ids(trophallaxis_table, ant_column, ants_list):
    invalid_ants = trophallaxis_table.apply(lambda x: is_invalid_ant_id(x[ant_column], ants_list),axis=1)
    return trophallaxis_table.loc[invalid_ants]

In [8]:
def find_negative_duration(trophallaxis_table):
    negative_durations = trophallaxis_table.apply(lambda x: (x['actual_end']-x['actual_start']) < 0, axis=1)
    return trophallaxis_table.loc[negative_durations]

In [9]:
exp1.ants_list.extend([-1,-5])
invalid_ant1 = find_invalid_ant_ids(exp1.interactions_df, 'actual_ant1', exp1.ants_list)
invalid_ant2 = find_invalid_ant_ids(exp1.interactions_df, 'actual_ant2', exp1.ants_list)
negative_durations = find_negative_duration(exp1.interactions_df)

In [10]:
invalid_ant1

Empty DataFrame
Columns: [vidnum, id, actual_ant1, actual_ant2, actual_start, actual_end, group, general_start_frame, general_end_frame, general_group_id]
Index: []

In [11]:
invalid_ant2

Empty DataFrame
Columns: [vidnum, id, actual_ant1, actual_ant2, actual_start, actual_end, group, general_start_frame, general_end_frame, general_group_id]
Index: []

In [12]:
negative_durations

Empty DataFrame
Columns: [vidnum, id, actual_ant1, actual_ant2, actual_start, actual_end, group, general_start_frame, general_end_frame, general_group_id]
Index: []