In [1]:
import pandas as pd
import numpy as np
import Data
import matplotlib.pyplot as plt
from os import sep as sep

In [2]:
exp11 = Data.ExperimentData(11, bdata_path='blob analysis normalized by white paper')

In [3]:
%matplotlib qt
clean_crop_dict={}
for ant_id in exp11.ants_list:
    if ant_id in exp11.foragers_list:
        ant = Data.ForagerData(ant_id, feedings_df=exp11.feedings_df, bdata_df=exp11.bdata, interactions_df=exp11.interactions_df)
    else:
        ant = Data.AntData(ant_id, bdata_df=exp11.bdata, interactions_df=exp11.interactions_df)
    
    clean_crop_ant = ant.clean_crop()
    # ant.plot_raw_timeline()
    # plt.plot(clean_crop_ant)
    # plt.show()
    
    clean_crop_dict.update({ant_id: clean_crop_ant})

clean_crop_df = pd.concat(clean_crop_dict,axis=1)
clean_crop_df.columns=[f'a{ant}-{col}' for ant, col in clean_crop_df.columns.values]
clean_crop_df.head()

D:\Lior\phd\Python\TwoColorAnts\Data.py:87: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  measurements_chunk = measurements.loc[frame_range]
D:\Lior\phd\Python\TwoColorAnts\Data.py:87: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  measurements_chunk = measurements.loc[frame_range]
C:\Users\liorba\Anaconda3\envs\Experimenting\lib\site-packages\numpy\lib\nanfunctions.py:1371: RuntimeWarning: All-NaN slice encountered
  overwrite_input=overwrite_input, interpolation=interpolation
C:\Users\liorba\Anaconda3\envs\Experimenting\lib\site-packages\numpy\lib\nanfunctions.py:1367: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

,a1-red,a1-yellow,a1069-red,a1069-yellow,a1125-red,a1125-yellow,a1152-red,a1152-yellow,a139-red,a139-yellow,...,a535-red,a535-yellow,a35-red,a35-yellow,a291-red,a291-yellow,a171-red,a171-yellow,a142-red,a142-yellow
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
clean_crop_df.head()

,a1-red,a1-yellow,a1069-red,a1069-yellow,a1125-red,a1125-yellow,a1152-red,a1152-yellow,a139-red,a139-yellow,...,a535-red,a535-yellow,a35-red,a35-yellow,a291-red,a291-yellow,a171-red,a171-yellow,a142-red,a142-yellow
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
clean_crop_df.to_csv(exp11.exp_path + sep + 'clean_crops_white_paper.csv')