In [1]:
import Data
import pandas as pd
from os import sep as sep
import matplotlib.pyplot as plt
from matplotlib.backends.backend_pdf import PdfPages
import numpy as np

In [2]:
exp11 = Data.ExperimentData(11, bdata_path='blob analysis normalized by old norm_mats')

In [3]:
exp11.ants_list[0]

1

In [4]:
ant_id = 289
if ant_id in exp11.foragers_list:
    ant = Data.ForagerData(ant_id, feedings_df=exp11.feedings_df, bdata_df=exp11.bdata, interactions_df=exp11.interactions_df)
else:
    ant = Data.AntData(ant_id, bdata_df=exp11.bdata, interactions_df=exp11.interactions_df)

In [25]:
raw_crop_df = pd.DataFrame.from_dict(ant.crop_dict_raw)
raw_crop_df = raw_crop_df.rename(columns={'red':'raw crop red', 'yellow':'raw crop yellow'})

In [42]:
clean_crop_df = ant.clean_crop()
clean_crop_df = clean_crop_df.rename(columns={'red':'clean crop red (intensity)','yellow':'clean crop yellow (intensity)'})
for color in ['yellow','red']:
    k = exp11.conversion_factors_by_weights_df.loc[0,color]
    clean_crop_df[f'clean crop {color} (ul)'] = clean_crop_df[f'clean crop {color} (intensity)']/k
clean_crop_df

,clean crop red (intensity),clean crop yellow (intensity),clean crop yellow (ul),clean crop red (ul)
0,0.000000,0.00000,0.000000,0.000000
1,0.000000,0.00000,0.000000,0.000000
2,0.000000,0.00000,0.000000,0.000000
3,0.000000,0.00000,0.000000,0.000000
4,0.000000,0.00000,0.000000,0.000000
...,...,...,...,...
9895,341207.242197,208223.51875,3.552245,4.770379
9896,341207.242197,208223.51875,3.552245,4.770379
9897,341207.242197,208223.51875,3.552245,4.770379
9898,341207.242197,208223.51875,3.552245,4.770379
9899,341207.242197,208223.51875,3.552245,4.770379

In [27]:
pd.concat([ant.x_raw,ant.raw_y,raw_crop_df,clean_crop_df],axis=1)

,a289-x,a289-y,raw crop red,raw crop yellow,clean crop red,clean crop yellow
0,NaN,NaN,NaN,NaN,0.000000,0.000
1,NaN,NaN,NaN,NaN,0.000000,0.000
2,NaN,NaN,NaN,NaN,0.000000,0.000
3,NaN,NaN,NaN,NaN,0.000000,0.000
4,NaN,NaN,NaN,NaN,0.000000,0.000
...,...,...,...,...,...,...
9897,3190.553652,1898.210455,NaN,121824.736877,1097.163551,166338.325
9898,3204.919097,1961.345269,0.00000,NaN,1097.163551,166338.325
9899,3101.986230,2442.198080,NaN,161136.794891,1097.163551,166338.325
9900,2846.886428,2703.355073,1128.69574,NaN,NaN,NaN
9901,3019.564554,2817.256404,NaN,141698.687500,NaN,NaN

In [44]:
%matplotlib qt
data_dict={'time_s' : exp11.bdata[['time']]}
for ant_id in [289,148,418]:
    if ant_id in exp11.foragers_list:
        ant = Data.ForagerData(ant_id, feedings_df=exp11.feedings_df, bdata_df=exp11.bdata, interactions_df=exp11.interactions_df)
    else:
        ant = Data.AntData(ant_id, bdata_df=exp11.bdata, interactions_df=exp11.interactions_df)
    
    raw_crop_df = pd.DataFrame.from_dict(ant.crop_dict_raw)
    raw_crop_df = raw_crop_df.rename(columns={'red':f'a{ant_id}- raw crop red', 'yellow':f'a{ant_id}- raw crop yellow'})
    
    clean_crop_df = ant.clean_crop()
    clean_crop_df = clean_crop_df.rename(columns={'red':f'a{ant_id}- clean crop red (intensity)','yellow':f'a{ant_id}- clean crop yellow (intensity)'})
    for color in ['red','yellow']:
        k = exp11.conversion_factors_by_weights_df.loc[0,color]
        clean_crop_df[f'a{ant_id}- clean crop {color} (ul)'] = clean_crop_df[f'a{ant_id}- clean crop {color} (intensity)']/k
    
    ant_data = [ant.x_raw,ant.raw_y,raw_crop_df,clean_crop_df]
    data_dict.update({ant_id: pd.concat(ant_data,axis=1)})

data_df = pd.concat(data_dict,axis=1)
#data_df.columns=[f'a{ant}-{col}' for ant, col in data_df.columns.values]
data_df.head()

C:\Users\liorba\Anaconda3\envs\Experimenting\lib\site-packages\numpy\lib\nanfunctions.py:1371: RuntimeWarning: All-NaN slice encountered
  overwrite_input=overwrite_input, interpolation=interpolation

  time_s    289                                                  \
    time a289-x a289-y a289- raw crop red a289- raw crop yellow
0    NaN    NaN    NaN                NaN                   NaN
1    NaN    NaN    NaN                NaN                   NaN
2    NaN    NaN    NaN                NaN                   NaN
3    NaN    NaN    NaN                NaN                   NaN
4    NaN    NaN    NaN                NaN                   NaN

                                                                        \
  a289- clean crop red (intensity) a289- clean crop yellow (intensity)
0                              0.0                                 0.0
1                              0.0                                 0.0
2                              0.0                                 0.0
3                              0.0                                 0.0
4                              0.0                                 0.0

                                                            148  ...  \
  a289- clean crop red (ul) a289- clean crop yellow (ul) a148-x  ...
0                       0.0                          0.0    NaN  ...
1                       0.0                          0.0    NaN  ...
2                       0.0                          0.0    NaN  ...
3                       0.0                          0.0    NaN  ...
4                       0.0                          0.0    NaN  ...

                                                            418         \
  a148- clean crop red (ul) a148- clean crop yellow (ul) a418-x a418-y
0                       0.0                          0.0    NaN    NaN
1                       0.0                          0.0    NaN    NaN
2                       0.0                          0.0    NaN    NaN
3                       0.0                          0.0    NaN    NaN
4                       0.0                          0.0    NaN    NaN

                                                                             \
  a418- raw crop red a418- raw crop yellow a418- clean crop red (intensity)
0                NaN                   NaN                              0.0
1                NaN                   NaN                              0.0
2                NaN                   NaN                              0.0
3                NaN                   NaN                              0.0
4                NaN                   NaN                              0.0

                                                                 \
  a418- clean crop yellow (intensity) a418- clean crop red (ul)
0                                 0.0                       0.0
1                                 0.0                       0.0
2                                 0.0                       0.0
3                                 0.0                       0.0
4                                 0.0                       0.0


  a418- clean crop yellow (ul)
0                          0.0
1                          0.0
2                          0.0
3                          0.0
4                          0.0

[5 rows x 25 columns]

In [46]:
data_df.to_csv(r'Y:\Lior&Einav\For paper\data and code\ants_data.csv')