In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from Data import AntData, ForagerData
from os import sep as sep

In [2]:
exp_path = r"Y:\Lior&Einav\Experiments\experiment11_140720"
feeding_filename = "forager_feeding_table_with_interaction_data.xlsx"
bdata_path = r"with food\blob analysis normalized by old norm_mats"
bdata_filename = "bdata_11_140720.csv"

### Load Data

#### Load feeding data

In [3]:
fdata = pd.read_excel(exp_path+sep+feeding_filename, usecols="A:D,F:I")
fdata.head()

,ant_id,feeding_start,feeding_end,food_source,last_interaction_before_end,last_interaction_before_partner,first_interaction_after_start,first_interaction_after_partner
0,76,4,58,yellow,-1,-1,72,392
1,148,48,128,yellow,-1,-1,233,76
2,289,133,304,yellow,-1,-1,317,72
3,392,159,206,yellow,114,76,250,95
4,289,371,395,yellow,339,72,432,36

#### Load blob data

In [4]:
bdata = pd.read_csv(exp_path+sep+bdata_path+sep+bdata_filename, index_col='frame')
bdata = bdata.drop(bdata.columns[0],axis=1)
bdata.head()

,time,acquisition,a1-angle,a1-crop_area,a1-crop_intensity,a1-error,a1-original_x,a1-original_y,a1-x,a1-y,...,a1299-x,a1299-y,a1247-angle,a1247-crop_area,a1247-crop_intensity,a1247-error,a1247-original_x,a1247-original_y,a1247-x,a1247-y
frame,,,,,,,,,,,,,,,,,,,,,
44,61.608,BLGF,-53.014075,21.0,784.982483,0.0,4866.0,2018.0,748.457242,1794.114019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,62.998,GLRF,-53.145187,15.0,941.886353,0.0,4866.0,2018.0,748.457242,1794.114019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,64.400,BLGF,-53.014075,28.0,1034.724243,1.0,4866.0,2018.0,748.457242,1794.114019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,65.808,GLRF,-53.145187,19.0,1157.055664,0.0,4867.0,2018.0,747.390222,1794.110585,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,67.208,BLGF,-53.145187,34.0,1261.318848,0.0,4867.0,2018.0,747.390222,1794.110585,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Get feeding sizes

In [5]:
foragers = fdata.ant_id.unique()
foragers

array([ 76, 148, 289, 392,  61,  82,  66, 445, 113, 150, 170, 180, 233,
       421, 540], dtype=int64)

In [6]:
%matplotlib qt

framelist=[]
for ant_id in foragers:
    ant = ForagerData(ant_id=ant_id, bdata_df=bdata, feedings_df=fdata)
    ant.manual_correction(exp_path)
    ant.get_feeding_sizes_intensity()
    framelist.extend([ant.feedings_dict['red'],ant.feedings_dict['yellow']])
    ant.plot_timeline_around_feedings()
fdata_with_feed_sizes = pd.concat(framelist)
fdata_with_feed_sizes.sort_index(inplace=True)
fdata_with_feed_sizes.head()

C:\Users\liorba\Anaconda3\envs\Experimenting\lib\site-packages\pandas\core\frame.py:3509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,ant_id,feeding_start,feeding_end,food_source,last_interaction_before_end,last_interaction_before_partner,first_interaction_after_start,first_interaction_after_partner,crop_before,crop_after,feeding_size_intensity
0,76,48,102,yellow,43,-1,116,392,293.831787,288061.663399,287767.831612
1,148,92,172,yellow,43,-1,277,76,60206.528134,339347.484375,279140.956241
2,289,177,348,yellow,43,-1,361,72,6457.684912,493706.554688,487248.869775
3,392,203,250,yellow,158,76,294,95,127725.829688,454063.550000,326337.720312
4,289,415,439,yellow,383,72,476,36,359116.687500,497167.730713,138051.043213

In [7]:
len(fdata_with_feed_sizes)

164

In [8]:
fdata_with_feed_sizes['feeding_size_intensity'][fdata_with_feed_sizes['feeding_size_intensity']<0]=0

C:\Users\liorba\Anaconda3\envs\Experimenting\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

### Write Data

In [9]:
fdata_with_feed_sizes.to_csv(r'Y:\Lior&Einav\Experiments\experiment11_140720\forager_table_with_feeding_sizes.csv',index=False)

In [10]:
a76 = ForagerData(ant_id=289, bdata_df=bdata, feedings_df=fdata)

In [11]:
a76.crop_dict_raw['yellow'].head()

frame
44    5927.484131
46       0.000000
48       0.000000
50     643.143311
52     217.622589
Name: a289-crop_intensity, dtype: float64

In [12]:
a76.manual_correction(exp_path)

In [13]:
a76.crop_dict_raw['yellow'].head()

frame
44    5927.484131
46       0.000000
48       0.000000
50     643.143311
52     217.622589
Name: a289-crop_intensity, dtype: float64

In [14]:
a76.get_feeding_sizes_intensity()

In [15]:
# a76.plot_timeline_around_feedings()

In [16]:
# plt.close('all')